<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[EF - LPIII]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <header class="main-header">
        <div class="container container--flex">
            <div class="main-header__container">
                <span class="icon-menu" id="btn-menu"><i class="fa-solid fa-bars"></i></span>
                <nav class="main-nav" id="main-nav">
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="{% url 'saludo' %}" class="menu__link">SALUDO</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'integrantes' %}" class="menu__link">INTEGRANTES</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">CREAR PRODUCTOS</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">CREAR CURSOS</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-header__container">
                <div class="main-header__logo">
                    <img src="{% static 'images/logo_untels.png' %}" class="main-header__logo">
                </div>
            </div>
            <div class="main-header__container">
                
            </div>
        </div>
    </header>

    <div class="contenido">
        <div class="box">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <script src="../static/js/slider.js"></script>
</body>
</html>