*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Inconsolata";
}

img{
    display: block;
    width: 100%;
}

.main-header{
    padding: 0 20px;
}

.main-header__tittle{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0; 
    color: #ababe9;
    font-family: "Poppins";
}

.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__link{
    color: rgb(76, 40, 173);
}

.main-header__linktxt{
    font-size: 0.7em;
}

.main-header__logo{
    margin: auto;
    width: 120px;
}



/* ESTILOS DEL MENU */

.main-nav{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 3;
}

.menu{
    position: absolute;
    top: 200px;
    left: 0;
    background: #ababe9;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item{
    text-align: center;
    margin: auto;
}

.menu__link{
    padding: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}

.menu__link:hover{
    background: white;
    color: #ababe9;
}

.mostrar{
    opacity: 1;
    visibility: visible;
}

.icon-menu{
    font-size: 1.5em;
    border: 1px solid #ababe9;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
}

.main-header__btn{
    display: block;
    padding: 10px 30px;
    color: #ababe9;
    border: 1px solid #ababe9;
    text-decoration: none;
}

.main-header__input{
    display: block;
    padding: 10px;
    width: 45%;
}

.main{
    padding: 0 20px;
}

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 80%;
    height: 90%;
    background: #FFF;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
    padding: 20px;
}

.modal-container__info{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}

.modal__img{
    margin-top: 20px;
    position: absolute;
    width: 80%;
    height: 220px;
}

.modal-product__img{
    height: 100%;
    object-fit: cover;
}

.modal-container__txt{
    position: absolute;
    top: 45%;
    padding: 0 40px;
    width: 100%;
}

.modal-product__title{
    margin: 0;
    margin-top: 20px;
}

.modal-product__btn{
    margin: 0;
    margin-top: 10px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 2px;
}

.modal-product__btn a{
    outline: none;
    text-decoration: none;
    color: #ababe9;
    border: 1px solid #FF4E00;
}

.modal-btn__shop{
    padding: 4px;
    width: 85%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn__shop:hover{
    color: #FF4E00;
}

.modal-btn__cart{
    position: absolute;
    top: 2px;
    right: 10px;
    width: 11%;
    height: 35px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.modal-btn__cart:hover{
    color: #FF4E00;

}

.modal-product__subtitle{
    margin: 0;
    text-align: start;
    margin-top: 5px;
}

.modal-product__description{
    text-align: justify;
    margin: 0;
}

.close{
    position: absolute;
    top: -10px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #ababe9;
    line-height: 25px;
    cursor: pointer;
    font-size: 1.4em;
}

.modal-close{
    transform: translateY(-200%);
}



/* ESTILOS DE PRODUCTOS */

.container-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.product{
    border: 1px solid #ababe9;
    padding: 20px;
    text-align: center;
    position: relative;
}

.product:before{
    content: "New";
    background: #FF4E00;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
    z-index: 5;
}

.product__img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.container-product__img{
    position: relative;
    overflow: hidden;
}

.overlay-product:hover:after{
    transform: translateY(0);
}

.overlay-product:after{
    content: "Ver producto";
    font-size: 1.3em;
    color: #fff;
    background-color: #16456198;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.product__tittle{
    text-align: center;
}

.product__price{
    color: #FF4E00;
    font-weight: bold;
}

.product__icon{
    display: block;
    margin-top: 10px;
}

.product__icon:hover{
    color: #FF4E00;
}

/* ESTILOS DE RESEÑAS */

.container__review{
    text-align: center;
    background: #F7F7F7;
    padding: 20px;
    margin: 20px 0;
}

.review__txt{
    color: #ababe9;
}

/* ESTILOS DE EDITOR */

.container-editor{
    margin-top: 20px;
}

.editor__item{
    height: 200px;
    position: relative;
    overflow: hidden;
}

.editor__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor__circle{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -200px;
    right: -150px;
    color: white;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
}

.editor__item:hover .editor__circle{
    transform: scale(1.2);
    bottom: -90px;
    right: -50px;
}

.editor__item:before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: #ababe9;
    opacity: 0;
    transition: all 0.5s;
}

.editor__item:hover:before{
    opacity: 1;
}

/* ESTILOS DE FOOTER */

.footer__section{
    position: relative;
}

.main-footer{
    background: #ababe9;
    color: white;
    padding: 30px 20px;
    margin-top: 0px;
}

.footer__tittle{
    border-bottom: 1px solid #ababe9;
    padding-bottom: 20px;
}

.footer__txt{
    color: #ababe9;
}

.footer__btn{
    display: block;
    color: white;
    border: 1px solid #FF4E00;
    text-decoration: none;
    padding: 10px;
    width: 60%;
}

.footer__logo{
    width: 20px;
    height: 18px;
    margin-right: 8px;
    float: left;
}

.footer__link{
    color: #ababe9;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.footer__link:hover{
    color: white;
}

.footer__input{
    background: #ababe9;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #ababe9;
    margin-top: 30px;
    color: #ababe9;
}

.copy{
    color: #ababe9;
}

.contenido{
    margin: 30px;
}

/* ESTILOS PARA TABLET */
@media screen and (min-width:768px){
    .slider{
        height: 400px;
    }

    .editor__item{
        height: 250px;
    }

    .container-tips{
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ESTILOS PARA DESKTOP */
@media screen and (min-width: 1024px){
    .container{
        width: 1000px;
        margin: auto;
    }

    .icon-menu{
        display: none;
    }

    .main-header .container--flex{
        display: flex;
        align-items: center;
    }

    .main-header__container{
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .main-header__txt{
        width: 100%;
        font-size: 1.3em;
    }

    .modal-container__info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 10px 15px;
    }

    .modal-btn__shop{
        width: 85%;
        height: 40px;
    }

    .modal-btn__cart{
        right: 0;
        width: 15%;
        height: 40px;
    }

    .modal__img{
        width: 100%;
        height: 470px;
        position: relative;
        padding-left: 10px;
    }

    .modal-container__txt{
        top: auto;
        width: 100%;
        height: 470;
        position: relative;
        font-size: 1.2em;
        padding: 0;
        padding-right: 10px;
    }

    .modal-product__subtitle{
        margin-top: 20px;
    }

    .main-header__container:nth-child(2){
        order: -1;
        width: 30%;
        padding-right: 40px;
    }

    .main-header__container:nth-child(3){
        width: 30%;
        padding-left: 20px;
        font-size: 1.3em;
    }

    .main-header__tittle{
        width: 100%;
        font-size: 4em;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    .main-header__link{
        margin-bottom: 20px;
        height: 100%;
        font-size: 1.4em;
    }

    .main-header__btn{
        width: 140px;
        padding: 10px;
        margin-bottom: 25px;
    }

    .main-header__input{
        height: 40%;
        width: 80%;
    }

    .main-nav{
        visibility: visible;
        opacity: 1;
        width: 100%;
        margin-top: 20px;
    }

    .menu{
        position: static;
        width: 100%;
        display: flex;
        background: none;
    }

    .menu__link{
        color: #ababe9;
    }

    .menu__link:hover{
        background: #ababe9;
        color: white;
    }

    .container-products{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

    .product__img{
        height: 200px;
    }

    .container__review{
        font-size: 1.3em;
    }

    .container-editor{
        display: flex;
        justify-content: space-between;
    }

    .editor__item{
        width: 48%;
    }

    .main-footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .footer__btn{
        width: auto;
    }

    .copy{
        border-top: 1px solid #ababe9;
        padding-top: 30px;
        grid-column-start: span 4;
        text-align: center;
    }
}

@media screen and (min-width: 1280px){
    .container{
        width: 1200px;
    }

    .main-header__container:nth-child(3){
        padding-left: 60px;
    }

    .slider{
        height: 500px;
        font-size: 1.5em;
    }
}

